.info {
	height: 100px;
	background-image: linear-gradient(to bottom, rgba(238, 241, 252, 1), rgba(238, 241, 252, 0.1));
	display: grid;
	grid-template-columns: 40px 40px 40px;
	justify-content: center;
	align-content: center;
	grid-gap: 20px;

	&__icon {
		height: 25px;
		width: 25px;
		cursor: pointer;
	}
}

.notification {
	transition: opacity .5s;
	display: none;
}

.counted-notifications {
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	background-color: $red;
	border: 1px solid $red;
	border-radius: 20%;
	box-shadow: 1px 1px 2px #ae0000;
	transition: opacity .5s;

	&:active {
		margin-left: 2px;
		margin-top: 2px;
		box-shadow: none;
		background-color: darken($red, 5%);
	}
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
body {
  height: 100%;
}
}
.header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  align-items: center;
  
	&__main {
	  display: grid;
	  grid-template-columns: 50% 50%;
	  justify-content: space-between;
	  border-radius: 25%;
	}

	&__list {
	  list-style-type: none;
	}

	&__pics {
	  float: left;
	  margin-left: 2%;
	  margin-top: 5%
	}

	&__main {
	  display: grid;
	  grid-template-columns: 50% 50%;
	  justify-content: space-between;
	  border-radius: 25%;
	}

	&__link {
	  color: white;
	  text-decoration: none;
	}

	&__plus {
	  background-color: gray;
	  border-radius: 10px;
	  height: 40px;
	  width: 40px; 
	  color: white; 
	  font-size: 35px;
	  text-align: center;
	}

	&__plusfive {
	  background-color: black;
	  border-radius: 10px;
	  height: 40px;
	  width: 40px; 
	  color: white; 
	  font-size: 20px;
	  display: flex;
	  justify-content: center;
	  align-items: center;	
	}

	&__user {
	  border-radius: 10px;
	  width: 40px;
	  height: 40px;
	}

	&__font {
	  font-family:  Arial, Helvetica, sans-serif;
	  margin-top: 9%
	}
	
	&__info {
	  height: 100px;
	  display: grid;
	  grid-template-columns: 50px 50px 50px;
	  justify-content: center;
	  align-content: center;
	  grid-gap: 20px;
	  margin: 0 20px;
	  background-image: linear-gradient(to bottom, rgba(238, 241, 252, 1), rgba(238, 241, 252, 0.1));
	}

	&__info--pics {
	  width: 30px;
	  height: 30px;
	}

	&__info--color {
	  color: $grey;
	  font-family:  Arial, Helvetica, sans-serif;
	}

}
