body {
  height: 100%;
}



.header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  align-items: center;

}

.li_header {
  float: left;
  margin-left: 2%;
  margin-top: 5%;
}

.header__main {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  border-radius: 25%;
}

.header_list {
  list-style-type: none;
}


.header_link {
  color: white; 
  text-decoration: none;
}

.header_plus {
  background-color: gray;
  border-radius: 10px;
  height: 40px;
  width: 40px; 
  color: white; 
  font-size: 35px;
  text-align: center;
}

.header_plusfive {
  background-color: black;
  border-radius: 10px;
  height: 40px;
  width: 40px; 
  color: white; 
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header_image {
  border-radius: 10px;
}

.header__info {
  height: 100px;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  margin: 0 20px;
  background-image: linear-gradient(to bottom, rgba(238, 241, 252, 1), rgba(238, 241, 252, 0.1));
}

.header__info--color {
  color: $gray;
  font-family:  Arial, Helvetica, sans-serif;

}


.font {
    font-family:  Arial, Helvetica, sans-serif;
    margin-top: 9%
  }
