* {
	font-size: 1.1vw;
}

.main-nav {
	width: 25%;
	height: 600px;
	background-image: linear-gradient(to bottom, rgb(239, 242, 253), rgb(243, 241, 245));

	&__add-option {
		text-decoration: none;
		width: 50px;
		height: 50px;
		background-color: #535aff;
		border-radius: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		margin: 10% 0 0 90%;
	}

	&__logo {
		margin: 0 0 0 45%;
		padding: 5% 0 0 0;
	}

	&__list {
		list-style-type: none;
		padding: 5% 0 0 0;
	}
		&__listitem {
			margin: 5% 0 0 60%;
		}
				&__listitem-link {
				display: inline-block;
				color: #000;
				text-decoration: none;
			}
				&__listitem-link::after {
				position: absolute;
				left: 11.5%;
				margin: 0.6% 0 0 0;
				display: inline-block;
				height: 1px;
				background: #000;
				transition: width .3s;
				width: 0;
				border: 0;
				content: '';
			}
			&__listitem-link:hover::after {
				width: 40px;
				//transition: width .3s;
			}

			&__listitem-add-option {
			}

			&__add-option:hover {
				background-color: rgb(99, 108, 255);
			}

	.second-nav__list {
		list-style-type: none;
		margin: 30% 0 0 0;
	}
		.second-nav__listitem {
		}
		.second-nav__listitem--title {
			margin: 0 0 0 32%;
		}
		.second-nav__listitem--loading {
			margin: 0 0 0 31%;
			color: grey;
		}

		.second-nav__listitem-hr {
		}
		.second-nav__listitem-hr--grey {
			background: lightgrey;
			border: 0;
			width: 35%;
			height: 0.8px;
			margin: 0 0 0 65%;
		}
		.second-nav__listitem-hr--black {
			background: black;
			border: 0;
			width: 65%;
			height: 0.8px;
			margin: 0;
		}
}

@media only screen and (max-width: 1000px) {
	* {
		font-size: 1.6vw;
	}

	.main-nav {
		width: 25%;
		height: 500px;
		background-image: linear-gradient(to bottom, rgb(239, 242, 253), rgb(243, 241, 245));
	}

	.main-nav__add-option {
		text-decoration: none;
		width: 40px;
		height: 40px;
		background-color: #535aff;
		border-radius: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		margin: 10% 0 0 90%;
	}
	.main-nav__add-option:hover {
		background-color: rgb(99, 108, 255);
	}

	.main-nav__listitem-link::after {
		position: absolute;
		left: 11.5%;
		margin: 0.6% 0 0 0;
		display: inline-block;
		height: 1px;
		background: #000;
		transition: width .3s;
		width: 0;
		border: 0;
		content: '';
	}
	.main-nav__listitem-link:hover::after {
		width: 20px;
	}
}

@media only screen and (max-width: 750px) {
	* {
		font-size: 2.1vw;
	}

	.main-nav {
		width: 25%;
		height: 400px;
		background-image: linear-gradient(to bottom, rgb(239, 242, 253), rgb(243, 241, 245));
	}

	.main-nav__add-option {
		text-decoration: none;
		width: 30px;
		height: 30px;
		background-color: #535aff;
		border-radius: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		margin: 10% 0 0 90%;
	}
	.main-nav__add-option:hover {
		background-color: rgb(99, 108, 255);
	}

	.main-nav__listitem-link::after {
		display: none;
	}

	.main-nav__listitem-link:hover::after {
		display: none;
	}
}
