.nav-wrapper {
	display: flex;
	flex-direction: column;
	width: 17.5%;
	font-size: 1.1vw;
}

.main-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 2%;
	height: 85vh;
	background-color: $nav-grey;
	min-height: 366px;

	&__add-option {
		text-decoration: none;
		width: 60px;
		height: 60px;
		background-color: $upload-button;
		border-radius: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		margin: 17.5% 0 0 82.5%;
	}

	&__logo {
		margin: 0 0 0 45%;
		padding: 15% 0 0 0;
	}

	&__list {
		list-style-type: none;
		padding: 5% 0 0 0;
	}
	
	&__list-item {
		margin: 5% 0 0 47.5%;
	}

	&__list-item-link {
		display: inline-block;
		color: $grey-text;
		text-decoration: none;
		outline: none;
		margin-top: 5%;

		&:focus {
			color: $black;

			&::after {
				position: absolute;
				left: 4%;
				margin-top: 0.4%;
				display: inline-block;
				height: 2px;
				background: $grey-text;
				width: 40px;
				border: 0;
				content: '';
			}
		}
		&:hover {
			color: $black;
		}
	}

	&__list-item-link::after {
		position: absolute;
		left: 4%;
		margin-top: 0.4%;
		display: inline-block;
		height: 2px;
		background: $grey-text;
		transition: width .3s;
		width: 0;
		border: 0;
		content: '';
	}

	&__list-item-link:hover::after {
		width: 40px;
	}

	&__add-option:hover {
		background-color: darken($upload-button, 5%);
	}

}

.second-nav {
	&__list {
		list-style-type: none;
		margin-bottom: 30%;
	}

	&__list-item {
		&--title {
			text-align: center;
			font-size: 0.8rem;
			font-weight: bold;
		}

		&--loading {
			text-align: center;
			color: $grey-text;
			font-size: 0.8rem;
		}

	}

	&__list-item-line {
		
		&--grey {
			height: 1px;
			background: $lightgrey;
			border: 0;
			width: 35%;
			margin: 0 0 0 65%;
		}
		
		&--black {
			height: 1px;
			background: $black;
			border: 0;
			width: 65%;
			margin: 0;
		}
	}
}
