$timeline-grid-gap: 1%;
$timeline-grid-row-gap: 5%;
.timeline {
	font-family: 'Ubuntu';
	height: 500px;
	background-color: green;

	&__container {
		height: 100%;
	}

	&__header {
		color: $lightgrey;
		padding: 10px;
		height: 5%;
	}

	&__grid {
		background-color: $white;
		display: grid;
		height: 90%;
		grid-template-columns: repeat(4, calc(25% - (#{$timeline-grid-gap} / 4)));
		grid-template-rows: repeat(2, calc(50% - (#{$timeline-grid-row-gap} / 2)));
		grid-gap: $timeline-grid-gap;
		grid-row-gap: $timeline-grid-row-gap;
	}

	&__item {
		background-size: cover; 
		border-radius: 10px;
		&--mp4 {
			box-shadow: 10px 10px 10px $lightgrey;
		}

		&--mp4-big {
			grid-column: 1 / 3;
			background-color: blue;
		}

		&--mp4-small {
			
			background-color: red;
		}
		
		&--mp3 {
			background-color: purple;
		}
	}
}
