.user{
  width: 25%;
  display: grid;
  grid-template-columns: 50px 30px 30px;
  justify-content: center;
  grid-gap: 25px;
  align-items: center;
  height: 120%;
}

.user__stat{
  display: flex;
  flex-flow: column wrap;
}

.user__img{
  border-radius: 8px;
  height: 40px;
  width: 40px;
}

.user__name{
  cursor: pointer;
}

.user__dropdown{
  height: 10px;
  width: 10px;
}

.user__status{
  width: 6px;
  height: 6px;
  border-radius: 30%;
  border: 2px solid #00d400;
  align-self: flex-end;
}

.dropdown{
  position: relative;
  cursor: pointer;
}

.display_none{
  display: none;
}

.display_block{
  display: block;
}

.dropown__content{
  text-align: center;
  position: absolute;
  min-width: 100px;
}

.p{
  border: black solid 1px;
  transition: background-color 1s;
}

.p:hover{
  background-color: darkgrey;
}
