.user{
  border: 1px solid black;
  width: 25%;
  display: grid;
  grid-template-columns: 50px 30px 30px;
  justify-content: center;
  grid-gap: 25px;
  align-items: center;
  height: 120%;
}

.user__stat{
  display: flex;
  flex-flow: column wrap;
}

.user__img{
  border-radius: 8px;
  height: 40px;
  width: 40px;
}

.user__status{
  width: 6px;
  height: 6px;
  border-radius: 30%;
  border: 2px solid #00d400;
  align-self: flex-end;
}

.user__dropdown{
  height: 10px;
  width: 10px;
}