$white: #FFF;
$white-transparent: unquote('#FFFFFF05');
$black: #000;
$lightergrey: #E0E0E0;
$lightgrey: #CCC;
$semigrey: #666;
$grey: #696969;
$darkgrey: #333;
$darkgrey-transparent: unquote('#333333AA');
$lightblue: #999EFF;
$lightblue-transparent: unquote('#999EFFAA');
$mp3-item: #EFEFF9;
$upload-button: #535AFF;
$nav-grey: #F1F2FA;
$grey-text: #9398AE;
